nifi/templates/expose-latest-tweets.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Provide a HTTP endpoint exposing the latest tweets.</description>
  <groupId>2b0e262d-0157-1000-343e-495006f8468e</groupId>
  <name>expose-latest-tweets</name>
  <snippet>
    <processGroups>
      <id>01571068-7d62-1b34-0000-000000000000</id>
      <parentGroupId>2b0e262d-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>0157104d-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571068-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571068-7d62-1b34-0000-000000000000</groupId>
            <id>0157104b-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>01571068-7d62-1b34-0000-000000000000</groupId>
            <id>01571048-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0157104f-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571068-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571068-7d62-1b34-0000-000000000000</groupId>
            <id>0157104e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>output stream</selectedRelationships>
          <source>
            <groupId>01571068-7d62-1b34-0000-000000000000</groupId>
            <id>0157104b-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01571051-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571068-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571068-7d62-1b34-0000-000000000000</groupId>
            <id>01571050-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>01571068-7d62-1b34-0000-000000000000</groupId>
            <id>0157104e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>01571049-7d62-1b34-0000-000000000000</id>
          <parentGroupId>2b0e262d-0157-1000-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Maximum Outstanding Requests</key>
              <value>
                <name>Maximum Outstanding Requests</name>
              </value>
            </entry>
            <entry>
              <key>Request Expiration</key>
              <value>
                <name>Request Expiration</name>
              </value>
            </entry>
          </descriptors>
          <name>LatestTweetsHttpContextMap</name>
          <properties>
            <entry>
              <key>Maximum Outstanding Requests</key>
              <value>5000</value>
            </entry>
            <entry>
              <key>Request Expiration</key>
              <value>1 min</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.http.StandardHttpContextMap</type>
        </controllerServices>
        <labels>
          <id>01571052-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571068-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>754.2783517497554</x>
            <y>826.5215499820379</y>
          </position>
          <height>86.84172821044922</height>
          <label>It's not recommended but I used 
Access-Control-Allow-Origin: * header here, 
to allow light-bulb/index.html can call 
this endpoint via HTTP GET using XMLHttpRequest.
http://stackoverflow.com/questions/20035101/no-access-control-allow-origin-header-is-present-on-the-requested-resource</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>310.14923095703125</width>
        </labels>
        <processors>
          <id>01571048-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571068-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>373.8285948934494</x>
            <y>315.8090829393807</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Listening Port</key>
                <value>
                  <name>Listening Port</name>
                </value>
              </entry>
              <entry>
                <key>Hostname</key>
                <value>
                  <name>Hostname</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>HTTP Context Map</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
                  <name>HTTP Context Map</name>
                </value>
              </entry>
              <entry>
                <key>Allowed Paths</key>
                <value>
                  <name>Allowed Paths</name>
                </value>
              </entry>
              <entry>
                <key>Default URL Character Set</key>
                <value>
                  <name>Default URL Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Allow GET</key>
                <value>
                  <name>Allow GET</name>
                </value>
              </entry>
              <entry>
                <key>Allow POST</key>
                <value>
                  <name>Allow POST</name>
                </value>
              </entry>
              <entry>
                <key>Allow PUT</key>
                <value>
                  <name>Allow PUT</name>
                </value>
              </entry>
              <entry>
                <key>Allow DELETE</key>
                <value>
                  <name>Allow DELETE</name>
                </value>
              </entry>
              <entry>
                <key>Allow HEAD</key>
                <value>
                  <name>Allow HEAD</name>
                </value>
              </entry>
              <entry>
                <key>Allow OPTIONS</key>
                <value>
                  <name>Allow OPTIONS</name>
                </value>
              </entry>
              <entry>
                <key>Additional HTTP Methods</key>
                <value>
                  <name>Additional HTTP Methods</name>
                </value>
              </entry>
              <entry>
                <key>Client Authentication</key>
                <value>
                  <name>Client Authentication</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Listening Port</key>
                <value>8180</value>
              </entry>
              <entry>
                <key>Hostname</key>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>HTTP Context Map</key>
                <value>01571049-7d62-1b34-0000-000000000000</value>
              </entry>
              <entry>
                <key>Allowed Paths</key>
              </entry>
              <entry>
                <key>Default URL Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Allow GET</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Allow POST</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Allow PUT</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Allow DELETE</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Allow HEAD</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Allow OPTIONS</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Additional HTTP Methods</key>
              </entry>
              <entry>
                <key>Client Authentication</key>
                <value>No Authentication</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>HandleHttpRequest</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
        </processors>
        <processors>
          <id>0157104b-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571068-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>372.51612682877635</x>
            <y>556.8843537778448</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Command Arguments</key>
                <value>
                  <name>Command Arguments</name>
                </value>
              </entry>
              <entry>
                <key>Command Path</key>
                <value>
                  <name>Command Path</name>
                </value>
              </entry>
              <entry>
                <key>Ignore STDIN</key>
                <value>
                  <name>Ignore STDIN</name>
                </value>
              </entry>
              <entry>
                <key>Working Directory</key>
                <value>
                  <name>Working Directory</name>
                </value>
              </entry>
              <entry>
                <key>Argument Delimiter</key>
                <value>
                  <name>Argument Delimiter</name>
                </value>
              </entry>
              <entry>
                <key>Output Destination Attribute</key>
                <value>
                  <name>Output Destination Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Max Attribute Length</key>
                <value>
                  <name>Max Attribute Length</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Command Arguments</key>
                <value>latest-tweets.js</value>
              </entry>
              <entry>
                <key>Command Path</key>
                <value>node</value>
              </entry>
              <entry>
                <key>Ignore STDIN</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Working Directory</key>
                <value>${lightbulb.home}</value>
              </entry>
              <entry>
                <key>Argument Delimiter</key>
                <value>;</value>
              </entry>
              <entry>
                <key>Output Destination Attribute</key>
              </entry>
              <entry>
                <key>Max Attribute Length</key>
                <value>256</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Get Latest Tweets</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>output stream</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
        <processors>
          <id>0157104e-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571068-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>372.7948827767492</x>
            <y>787.2359246644739</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>HTTP Status Code</key>
                <value>
                  <name>HTTP Status Code</name>
                </value>
              </entry>
              <entry>
                <key>HTTP Context Map</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
                  <name>HTTP Context Map</name>
                </value>
              </entry>
              <entry>
                <key>Access-Control-Allow-Origin</key>
                <value>
                  <name>Access-Control-Allow-Origin</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>HTTP Status Code</key>
                <value>200</value>
              </entry>
              <entry>
                <key>HTTP Context Map</key>
                <value>01571049-7d62-1b34-0000-000000000000</value>
              </entry>
              <entry>
                <key>Access-Control-Allow-Origin</key>
                <value>*</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>HandleHttpResponse</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
        </processors>
        <processors>
          <id>01571050-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571068-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>370.727195276968</x>
            <y>1037.4230026414232</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Log Level</key>
                <value>
                  <name>Log Level</name>
                </value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>
                  <name>Log Payload</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
                <value>
                  <name>Attributes to Log</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
                <value>
                  <name>Attributes to Ignore</name>
                </value>
              </entry>
              <entry>
                <key>Log prefix</key>
                <value>
                  <name>Log prefix</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Log Level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
              </entry>
              <entry>
                <key>Log prefix</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogAttribute</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
      </contents>
      <name>Expose Latest Tweets</name>
    </processGroups>
  </snippet>
  <timestamp>09/16/2016 11:18:09 JST</timestamp>
</template>