nifi/templates/save-tweets.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description>Merge tweets into JSON arrays, filter out tweets containing bad words, then persist the JSON with a name having current timestamp.</description>
  <groupId>2b0e262d-0157-1000-343e-495006f8468e</groupId>
  <name>save-tweets</name>
  <snippet>
    <processGroups>
      <id>01571032-7d62-1b34-0000-000000000000</id>
      <parentGroupId>2b0e262d-0157-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>01571025-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571018-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157101c-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01571028-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571036-7d62-1b34-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157101c-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0157105b-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571055-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571056-7d62-1b34-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0157105c-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157101e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571055-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0157105f-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157105e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571058-7d62-1b34-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01571060-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157101e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157105e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01571063-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571062-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157105a-7d62-1b34-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01571064-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157101e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>merged</selectedRelationships>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571062-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>0157108f-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157108e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157101e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01571090-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157101c-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>output stream</selectedRelationships>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157108e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01571093-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571092-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>original</selectedRelationships>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>0157108e-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>01571096-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>015710a6-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>output stream</selectedRelationships>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571092-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>015710a7-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>01571095-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>30 min</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>contains</selectedRelationships>
          <source>
            <groupId>01571032-7d62-1b34-0000-000000000000</groupId>
            <id>015710a6-7d62-1b34-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>01571056-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1081.4999217345912</x>
            <y>61.90348674564848</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>red</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>01571058-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1504.6083201720912</x>
            <y>51.28831102161894</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>green</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <inputPorts>
          <id>0157105a-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1956.2137889220912</x>
            <y>58.480726735882854</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>blue</name>
          <state>RUNNING</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <labels>
          <id>015710a3-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1105.0264797455156</x>
            <y>812.8923180611185</y>
          </position>
          <height>115.39311981201172</height>
          <label>Filtering tweet can be done individually, 
but it can be slow and won't be able to 
catch up twitter feed as it spawns
external process for each tweet.
So, filter tweets here, by passing the merged JSON array.</label>
          <style>
            <entry>
              <key>font-size</key>
              <value>12px</value>
            </entry>
          </style>
          <width>328.550048828125</width>
        </labels>
        <outputPorts>
          <id>01571036-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1502.655784480653</x>
            <y>1462.9102878136846</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>color-tweet-file</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>01571018-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>2043.5951526604754</x>
            <y>1211.9566531061769</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Log Level</key>
                <value>
                  <name>Log Level</name>
                </value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>
                  <name>Log Payload</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
                <value>
                  <name>Attributes to Log</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
                <value>
                  <name>Attributes to Ignore</name>
                </value>
              </entry>
              <entry>
                <key>Log prefix</key>
                <value>
                  <name>Log prefix</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Log Level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
              </entry>
              <entry>
                <key>Log prefix</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogAttribute</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
          <id>0157101c-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1449.671971979751</x>
            <y>1206.1467424780194</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>${lightbulb.home}/tweets/${color}</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>fail</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutFile</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
          <id>0157101e-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1454.1392158811827</x>
            <y>437.1200432540454</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>filename</key>
                <value>
                  <name>filename</name>
                </value>
              </entry>
              <entry>
                <key>mime.type</key>
                <value>
                  <name>mime.type</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>filename</key>
                <value>${now():format('yyyyMMddHHmmss')}.json</value>
              </entry>
              <entry>
                <key>mime.type</key>
                <value>application/json</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Set filename</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>01571055-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1023.9665167943831</x>
            <y>211.96141089081937</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>100</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>[</value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>]</value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>,
</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>10 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Aggregate by Color</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#b30900</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>0157105e-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1449.6370490209456</x>
            <y>209.1370719778555</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>100</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>[</value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>]</value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>,
</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>10 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Aggregate by Color</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#26bf00</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>01571062-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1889.7766974584456</x>
            <y>206.31272162079983</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Merge Strategy</key>
                <value>
                  <name>Merge Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>
                  <name>Merge Format</name>
                </value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>
                  <name>Attribute Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
                <value>
                  <name>Correlation Attribute Name</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>
                  <name>Minimum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
                <value>
                  <name>Maximum Number of Entries</name>
                </value>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>
                  <name>Minimum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
                <value>
                  <name>Maximum Group Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Bin Age</key>
                <value>
                  <name>Max Bin Age</name>
                </value>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>
                  <name>Maximum number of Bins</name>
                </value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>
                  <name>Delimiter Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>
                  <name>Header File</name>
                </value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>
                  <name>Footer File</name>
                </value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>
                  <name>Demarcator File</name>
                </value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>
                  <name>Compression Level</name>
                </value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>
                  <name>Keep Path</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Merge Strategy</key>
                <value>Bin-Packing Algorithm</value>
              </entry>
              <entry>
                <key>Merge Format</key>
                <value>Binary Concatenation</value>
              </entry>
              <entry>
                <key>Attribute Strategy</key>
                <value>Keep Only Common Attributes</value>
              </entry>
              <entry>
                <key>Correlation Attribute Name</key>
              </entry>
              <entry>
                <key>Minimum Number of Entries</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Maximum Number of Entries</key>
              </entry>
              <entry>
                <key>Minimum Group Size</key>
                <value>0 B</value>
              </entry>
              <entry>
                <key>Maximum Group Size</key>
              </entry>
              <entry>
                <key>Max Bin Age</key>
              </entry>
              <entry>
                <key>Maximum number of Bins</key>
                <value>100</value>
              </entry>
              <entry>
                <key>Delimiter Strategy</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Header File</key>
                <value>[</value>
              </entry>
              <entry>
                <key>Footer File</key>
                <value>]</value>
              </entry>
              <entry>
                <key>Demarcator File</key>
                <value>,
</value>
              </entry>
              <entry>
                <key>Compression Level</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Keep Path</key>
                <value>false</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>10 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Aggregate by Color</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>merged</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <style>
            <entry>
              <key>background-color</key>
              <value>#003ec4</value>
            </entry>
          </style>
          <type>org.apache.nifi.processors.standard.MergeContent</type>
        </processors>
        <processors>
          <id>0157108e-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1451.9893934303389</x>
            <y>809.1297151059698</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Command Arguments</key>
                <value>
                  <name>Command Arguments</name>
                </value>
              </entry>
              <entry>
                <key>Command Path</key>
                <value>
                  <name>Command Path</name>
                </value>
              </entry>
              <entry>
                <key>Ignore STDIN</key>
                <value>
                  <name>Ignore STDIN</name>
                </value>
              </entry>
              <entry>
                <key>Working Directory</key>
                <value>
                  <name>Working Directory</name>
                </value>
              </entry>
              <entry>
                <key>Argument Delimiter</key>
                <value>
                  <name>Argument Delimiter</name>
                </value>
              </entry>
              <entry>
                <key>Output Destination Attribute</key>
                <value>
                  <name>Output Destination Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Max Attribute Length</key>
                <value>
                  <name>Max Attribute Length</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Command Arguments</key>
                <value>filter-bad-tweets.js;clean</value>
              </entry>
              <entry>
                <key>Command Path</key>
                <value>node</value>
              </entry>
              <entry>
                <key>Ignore STDIN</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Working Directory</key>
                <value>${lightbulb.home}</value>
              </entry>
              <entry>
                <key>Argument Delimiter</key>
                <value>;</value>
              </entry>
              <entry>
                <key>Output Destination Attribute</key>
              </entry>
              <entry>
                <key>Max Attribute Length</key>
                <value>256</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Filter Bad Tweet</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>output stream</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
        <processors>
          <id>01571092-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>1856.4226820045578</x>
            <y>600.2937776059698</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Command Arguments</key>
                <value>
                  <name>Command Arguments</name>
                </value>
              </entry>
              <entry>
                <key>Command Path</key>
                <value>
                  <name>Command Path</name>
                </value>
              </entry>
              <entry>
                <key>Ignore STDIN</key>
                <value>
                  <name>Ignore STDIN</name>
                </value>
              </entry>
              <entry>
                <key>Working Directory</key>
                <value>
                  <name>Working Directory</name>
                </value>
              </entry>
              <entry>
                <key>Argument Delimiter</key>
                <value>
                  <name>Argument Delimiter</name>
                </value>
              </entry>
              <entry>
                <key>Output Destination Attribute</key>
                <value>
                  <name>Output Destination Attribute</name>
                </value>
              </entry>
              <entry>
                <key>Max Attribute Length</key>
                <value>
                  <name>Max Attribute Length</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Command Arguments</key>
                <value>filter-bad-tweets.js;bad</value>
              </entry>
              <entry>
                <key>Command Path</key>
                <value>node</value>
              </entry>
              <entry>
                <key>Ignore STDIN</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Working Directory</key>
                <value>${lightbulb.home}</value>
              </entry>
              <entry>
                <key>Argument Delimiter</key>
                <value>;</value>
              </entry>
              <entry>
                <key>Output Destination Attribute</key>
              </entry>
              <entry>
                <key>Max Attribute Length</key>
                <value>256</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Debug Bad Tweet</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>original</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>output stream</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
        <processors>
          <id>01571095-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>2438.3063037835227</x>
            <y>600.2306399225831</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Log Level</key>
                <value>
                  <name>Log Level</name>
                </value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>
                  <name>Log Payload</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
                <value>
                  <name>Attributes to Log</name>
                </value>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
                <value>
                  <name>Attributes to Ignore</name>
                </value>
              </entry>
              <entry>
                <key>Log prefix</key>
                <value>
                  <name>Log prefix</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Log Level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>Log Payload</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Attributes to Log</key>
              </entry>
              <entry>
                <key>Attributes to Ignore</key>
              </entry>
              <entry>
                <key>Log prefix</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogAttribute</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
          <id>015710a6-7d62-1b34-0000-000000000000</id>
          <parentGroupId>01571032-7d62-1b34-0000-000000000000</parentGroupId>
          <position>
            <x>2161.593403480813</x>
            <y>810.3986428898643</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Match Requirement</key>
                <value>
                  <name>Match Requirement</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Content Buffer Size</key>
                <value>
                  <name>Content Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>contains</key>
                <value>
                  <name>contains</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Match Requirement</key>
                <value>content must contain match</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Content Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>contains</key>
                <value>\[..+</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>RouteOnContent</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>contains</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnContent</type>
        </processors>
      </contents>
      <name>Save Tweets</name>
    </processGroups>
  </snippet>
  <timestamp>09/16/2016 11:20:27 JST</timestamp>
</template>